<div class="container">
    <div class="row">
    <div class="col-sm-12 col-lg-6">
    <div class="card pie">
    <img src="https://reference.wolfram.com/language/ref/Files/PieChart.en/O_1.png" height="720%" >

</div>
</div>
<div class ="col-sm-12 col-lg-6">
    <div class="card per">
    <h1>23 % <span> <img src="https://cdn.pixabay.com/photo/2013/07/13/10/13/arrow-156792__340.png" alt="arrow" height="50%" width="50%"></span></h1>
</div>


   <div class="card per2">
    
      <ul>
      <li>Name :</li>
      <li>Username :</li>
      <li>Email :</li>
      </ul>
     
     </div>
    
     </div>
  
  
     </div>
     

<div class="c">
<table style="width:100%;" >
  
  <tr>
    <th class="r">SNO</th>
    <th>Name </th>
    <th>Username </th>
    <th>City</th>
    <th>Pincode </th>
    <th>Company Name</th>
  </tr>
</table>
<!-- <property binding for passing data  from parent to child> -->
<app-child  [res]="result"></app-child> 
</div>


</div>